<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <ng-container *ngFor = "let menu of MenuList">
        <ng-container *ngIf = "menu">
          <li nz-menu-item [nzSelected]="menu.selected">
            <span nz-icon [nzType]="menu.icon" nzTheme="outline"></span>
            <span>{{menu.title}}</span>
          </li>
        </ng-container>
        <!-- <ng-container *ngIf = "menu && menu.children">
          <li nz-submenu [nzTitle]="menu.title" [nzIcon]="menu.icon">
            <ng-container *ngFor = "let children of menu.children">
              <span nz-icon [nzType]="children.icon" nzTheme="outline"></span>
              <span>{{children.title}}</span>
            </ng-container>
          </li>
        </ng-container> -->
      </ng-container>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>Governsys</nz-breadcrumb-item>
        <nz-breadcrumb-item>Overview</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <app-overview></app-overview>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
