<div>
    <div nz-row class = "card_container">
        <div nz-col nzSpan = "8" class = "topthree_column">
            <nz-card class = "topthree_card">
                <nz-layout>
                    <nz-row>
                        <nz-col nzSpan="1" class = "image_container"><img src = "/assets/image/first_place.png"></nz-col>
                        <nz-col nzSpan="22"><p class = "topthree_label">Rank 1</p></nz-col>
                        <nz-col nzSpan = "1" class = "image_container"></nz-col>
                    </nz-row>
                </nz-layout>
                <nz-content>Content</nz-content>
            </nz-card>
        </div>
        <div nz-col nzSpan = "8" class = "topthree_column">
            <nz-card class = "topthree_card">
                <nz-layout>
                    <nz-row>
                        <nz-col nzSpan="1" class = "image_container"><img src = "/assets/image/second_place.png"></nz-col>
                        <nz-col nzSpan="23"><p class = "topthree_label">Rank 2</p></nz-col>
                    </nz-row>
                </nz-layout>
                <nz-content>Content</nz-content>
            </nz-card>
        </div>
        <div nz-col nzSpan = "8" class = "topthree_column">
            <nz-card class = "topthree_card">
                <nz-layout>
                    <nz-row>
                        <nz-col nzSpan="1" class = "image_container"><img src = "/assets/image/third_place.png"></nz-col>
                        <nz-col nzSpan="23"><p class = "topthree_label">Rank 3</p></nz-col>
                    </nz-row>
                </nz-layout>
                <nz-content>Content</nz-content>
            </nz-card>
        </div>
    </div>
    <div nz-row class = "topthree_column" *ngFor = "let row of data_array; index as i">
        <ng-container *ngIf = "i<data_array.length - 3">
            <nz-col  nzSpan="1">Rank {{i + 4}}</nz-col>
            <nz-col nzSpan = "22">{{selected_data[i + 4]["LOBT"]}}</nz-col>
            <nz-col nzSpan = "1">Img</nz-col>
        </ng-container>
    </div>
</div>

<ng-template #top_template let-data = "data">

</ng-template>