/* You can add global styles to this file, and also import other style files */
body {
    height: auto;
    width: 100%;
    display: flex;
}
app-root{
    width: 100%;
    height: auto;
    display: flex;
}